@import "../assets/UsableCssClasses.scss";

.wrapper {
  min-height: 100vh;
  height: 100%;
  display: grid;
  width: max-content;
  max-width: 100%;
  margin: 0 auto;
  justify-items: start;
}

.search {
  @extend .flex-col-center;
  padding-top: 2em;
  justify-content: start;
  gap: 1em;

  &__container {
    @extend .flex-start;
    gap: 1em;

    &__github-icon {
      font-size: 3rem;
    }

    &__content {
      @extend .flex-col-start;
    }
  }

  &__form {
    @extend .flex-col-center;
    gap: 0.7em;

    &__input__container {
      @extend .flex-col-center;
      width: 100%;
      max-width: 26em;
    }

    &__input {
      padding: 1em 0.8em;
      border-radius: 4px;
      border: 1px solid var(--primary-color);
      width: 90%;
      min-width: 15em;

      &:focus-visible {
        outline: none;
      }
    }

    &__container {
      position: relative;

      &__select {
        padding: 1em 0.8em;
        border-radius: 4px;
        border: 1px solid var(--primary-color);
        appearance: none;
        background-color: transparent;

        &:focus-visible {
          outline: none;
        }
      }

      &__dropdown-icon {
        position: absolute;
        z-index: 10;
        top: 50%;
        right: 25%;
        transform: translateY(-50%);
      }
    }
  }
}

.cards__grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20.27em, 1fr));
  grid-template-rows: auto;
  place-content: center;
  gap: 1em;
  width: 98.9vw;
  padding-top: 2em;
}
.loadmore__container {
  padding: 0.5em 0;
  display: grid;
  place-items: center;
  width: 100%;
}

@media (min-width: 370px) {
  .search {
    justify-content: flex-start;
    width: 100%;
    align-items: flex-start;
  }
  .search__form {
    flex-direction: row;
    &__input__container {
      align-items: flex-start;
      justify-content: flex-start;
    }
  }
}
