@import "../assets/UsableCssClasses.scss";

.wrapper {
  min-height: 100vh;
  height: 100%;
  display: grid;
  justify-items: center;
}

.search {
  @extend .flex-col-start;
  gap: 1em;

  &__container {
    @extend .flex-start;
    gap: 1em;

    &__github-icon {
      font-size: 3rem;
    }

    &__content {
      @extend .flex-col-start;
    }
  }

  &__form {
    @extend .flex-between;
    gap: 0.7em;

    &__input__container {
      @extend .flex-col-start;
    }

    &__input {
      padding: 1em 0.8em;
      border-radius: 4px;
      border: 1px solid var(--primary-color);
      width: 22em;

      &:focus-visible {
        outline: none;
      }
    }

    &__container {
      position: relative;

      &__select {
        padding: 1em 0.8em;
        border-radius: 4px;
        border: 1px solid var(--primary-color);
        appearance: none;
        background-color: transparent;

        &:focus-visible {
          outline: none;
        }
      }

      &__dropdown-icon {
        position: absolute;
        z-index: 10;
        top: 50%;
        right: 25%;
        transform: translateY(-50%);
      }
    }
  }
}

.cards__grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(16.6em, 17.7em));
  grid-template-rows: auto;
  place-items: center;
  gap: 1em;
  width: 100%;
}
